@font-face {
    font-family: Noto Sans Arabic;
    src: url(../fonts/NotoSansArabic-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: Oxygen;
    src: url(../fonts/Oxygen-Regular.ttf);
}

h1{
    height: 126px;
    width: 603px;
    font-family: Noto Sans Arabic;
    font-size: 30px;
    font-weight: 800;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin-top: 205px;
    margin-bottom: 35px;
}
.HomeContainer p{
    width: 603px;
    height: 153px;
    font-family: 'Noto Sans Arabic';
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 51px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 35px;
}
button{
    width: 206px;
    height: 75px;
    background: rgba(85, 85, 255, 0.81);
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-transform: capitalize;
    color: #FFFFFF;
    border: none;
}
.HomeContainer{
    display: flex;
}
.HomeContainer img{
    margin-top: 266px;
    margin-left: 104px;
    height: 328px;
    width: 492.5836486816406px;
       
}
.div3{
    margin-left: 120px  ;
}
.AboutContainer h3{
    margin-left: 690px;
    margin-top: 89px;
    margin-bottom: 13px;
    /* font-family: 'Noto Sans Arabic'; */
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 63px;
    text-transform: capitalize;
    color: #000000
}
.AboutContainer p{
    width: 1000px;
    height: 306px;
    font-family: 'Noto Sans Arabic';
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 51px;
    text-transform: capitalize;
    color: #000000;
    margin-left: 293px;
}

input{
    height: 48px;
    width: 615px;
    left: 0px;
    top: 28px;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    border: 1px solid rgba(226, 225, 229, 1);
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    margin-bottom: 43px;
}
.inputs{
    text-align: center;
}
.inputs h5{
    text-align: left;
    margin-left: 460px;
    line-height: 30px;
}
textarea{
    height: 48px;
    width: 615px;
    left: 0px;
    top: 28px;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    border: 1px solid rgba(226, 225, 229, 1);
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    resize:none;
    outline: none;
    overflow: hidden;
    
}
::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;    
    color: #D2D2D2;
}
.ContactContainer button{
    margin-left: 870px;
    margin-top: 43px;
}
.ContactContainer h3{
    margin-left: 700px;
    margin-top: 89px;
    margin-bottom: 63px;
    /* font-family: 'Noto Sans Arabic'; */
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 63px;
    text-transform: capitalize;
    color: #000000
}